# Intellij
.idea/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/libraries
.idea/compiler.xml
.idea/kotlinc.xml
.idea/modules.xml
.idea/sonarlint
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator-enh.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
*.iml
*.ipr
*.iws
dependency-reduced-pom.xml
settings.properties

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/

# Mac
.DS_Store

# Maven
log/
target/

#Gradle
.gradle/
build/

# JRebel
.rebel.xml
.rebel-remote.xml
rebel.xml
rebel-remote.xml

build.xml

# Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

# Artifacts
*.class

# Other
bin/
dist/
manifest.mf
Thumbs.db
*.sh
